name: CI/CD Process
on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-2025, macos-15, ubuntu-24.04 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: DanySK/action-checkout@0.2.28
      - uses: DanySK/build-check-deploy-gradle-action@4.0.24
        with:
            should-deploy: false
            should-run-codecov: false
# =======================
# Uncomment the following lines if you want to publish releases to Github
# =======================
#  release:
#    permissions:
#      contents: write
#      packages: write
#    needs:
#      - build
#    runs-on: ubuntu-latest
#    if: >-
#      !github.event.repository.fork
#      && (
#        github.event_name != 'pull_request'
#        || github.event.pull_request.head.repo.full_name == github.repository
#      )
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4.2.2
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#      - name: Install Node
#        uses: actions/setup-node@v4.3.0
#        with:
#          node-version-file: package.json
#      - name: Semantic Release
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        run: |
#          npm install
#          npx semantic-release
  success:
    runs-on: ubuntu-24.04
    needs:
      - build
# =======================
# Uncomment the following line if you want to publish releases to Github
# =======================
#      - release
    if: >-
      always() && (
        contains(join(needs.*.result, ','), 'failure')
        || !contains(join(needs.*.result, ','), 'cancelled')
      )
    steps:
      - name: Verify that there were no failures
        run: ${{ !contains(join(needs.*.result, ','), 'failure') }}
